<div class="pt-3 conatiner">
  <div class="row">
    <div class="mb-4 text-center">
      <h1 class="text-center">CONTACT SECTION</h1>
      <i class="fa-solid fa-star"></i>
    </div>
    <form
      class="w-50 p-3 mx-auto mt-5 p-2"
    >
      <input
        id="userName"
        type="text"
        placeholder="Name"
        name="userName"
        class="form-control border-0 border-bottom py-3 position-relative m-3"
      /><input
        id="userAge"
        type="text"
        placeholder="Age"
        name="userName"
        class="form-control border-0 border-bottom py-3 position-relative m-3"
      /><input
        id="userEmail"
        type="text"
        placeholder="Email"
        name="userName"
        class="form-control border-0 border-bottom py-3 position-relative m-3"
      /><input
        id="userPassword"
        type="text"
        placeholder=" Password"
        name="userName"
        class="form-control border-0 border-bottom py-3 position-relative m-3"
      /><button type="submit" class="btn btn-primary mt-4 text-white">
        send Message
      </button>
    </form>
  </div>
</div>
