<div class="mb-4">
  <div class="pt-4">
    <div class="container">
      <div class="row g-5">
        <div class="col-lg-4 col-md-6">
          <div>
            <img
              alt=""
              class="w-100 "
              src="./assets/imgs/poert1.png"
            />
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div>
            <img
              alt=""
              class="w-100 rounded-3"
              src="./assets/imgs/port2.png"
            />
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div>
            <img
              alt=""
              class="w-100 rounded-3"
              src="./assets/imgs/port3.png"
            />
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div>
            <img alt="photo" class="w-100 rounded-3" src="./assets/imgs/poert1.png" />
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="rounded-3 position-relative">
            <img alt="photo" class="w-100 rounded-3" src="./assets/imgs/port2.png" />
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div >
            <img alt="photo" class="w-100 rounded-3" src="./assets/imgs/port3.png" />

          </div>
        </div>
        <!---->
      </div>
    </div>
  </div>
</div>
